
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

@import "./src/css/fonts.scss"; // import fonts
@import "./src/css/typography.scss"; // import typography rules
@import "./src/css/core.scss"; // import theme core css

// if you badly need to write scss for an element/section, put it inside elements folder
// and import it this way
// @import './src/elements/filename.scss';

.container-max {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
