// html tags
body,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--tw-text-opacity: 1;
	overflow-x: hidden;
	line-height: 1.5;
	font-family: 'Jost';
}
h1 {
	@apply heading-100 mb-5;
	line-height: 1.25;
}
h2 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
h3 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
h4,
h5,
h6 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
p {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
iframe {
	width: 100%;
}
ul,
ol {
	@apply mb-5 ml-4;
}
ul {
	@apply list-disc;
}
ol {
	@apply list-decimal;
}
li {
	@apply mb-2;
}
a.button,
button[type="submit"],
input[type="submit"] {
	@apply w-auto;
}
a.button.secondary,
button[type="submit"].secondary,
input[type="submit"].secondary {
	@apply w-auto;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
.select2-container--default .select2-selection--single {
	box-shadow: none !important;
	@apply py-2 px-4 w-full appearance-none border text-black text-xs;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translateY(-50%);
}
textarea {
	box-shadow: none !important;
}

// wordpress classes
.container {
	max-width: 1480px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.25rem; //20px
	padding-right: 1.25rem; //20px
}
.wp-block-image,
iframe {
	@apply mb-5;
}
.no_s {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.sr-only {
	display: none;
}
.woocommerce-notices-wrapper ul {
	@apply ml-0 list-none;
}

.heading-100 {
	@apply text-xl lg:text-5xl;
}
.heading-200 {
	@apply text-lg md:text-3xl lg:text-4xl;
}
.heading-300 {
	@apply text-base;
}
/* 
.heading-400{}
.heading-500{} 
*/

.subheading-100 {
	@apply text-3xl;
}
.subheading-200 {
	@apply text-xl md:text-2xl;
}
/* 
.subheading-300{}
.subheading-400{}
.subheading-500{} 
*/

.paragraph-100 {
	@apply text-sm lg:text-xl;
}
.paragraph-200 {
	@apply text-lg;
}
.paragraph-300 {
	@apply text-xs md:text-base;
}
.paragraph-400 {
	@apply text-sm;
}
.paragraph-500 {
	@apply text-xs;
}

/* Buttons */

.outlined-btn {
	@apply border-white border-2 py-4 px-5 paragraph-300 text-white  hover:bg-black hover:bg-opacity-10 hover:border-blue transition-all ease-in-out duration-300;
}
.full-btn {
	@apply bg-darkgray border-darkgray border-2 paragraph-300 text-darkgray px-4 py-6 w-full hover:bg-blue hover:border-blue transition-all ease-in-out duration-300;
}
.solid-btn {
	@apply bg-purple border-2 border-purple paragraph-300 text-white py-4 px-5 hover:bg-blue hover:text-black hover:border-blue transition-all ease-in-out duration-300;
}


/* Text Rotation */
.text-rotation {
	animation: text-rotate 10s linear infinite;
}
@keyframes text-rotate {
	to {
			transform: rotate(360deg);
	}
}


/* Footer */
.mw-1920 {
	max-width: 1920px;
}


/* Cards */
.card {
	height: 524px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;

}

.card-body-icon-1 {
	width: 94px;
	height: 171px;
}

.card-body-icon-2 {
	width: 213px;
	height: 94px;
}

.card-body-icon-3 {
	width: 132px;
	height: 143px;
}

.card-body-icon-4 {
	width: 127px;
	height: 154px;
}

.card-body-icon-5 {
	width: 160px;
	height: 126px;
}

.card-body-icon-6 {
	width: 155px;
	height: 143px;
}

.card-body-icon-7 {
	width: 157px;
	height: 134px;
}

.card-body-icon-8 {
	width: 143px;
	height: 152px;
}

.card-body-icon-9 {
	width: 143px;
	height: 150px;
}

.card-body-icon-10 {
	width: 144px;
	height: 143px;
}

.card-body-icon-11 {
	width: 170px;
	height: 130px;
}

.card-body-icon-12 {
	width: 163px;
	height: 110px;
}

.card-body-icon-13 {
	width: 152px;
	height: 146px;
}

.card-body-icon-14 {
	width: 145px;
	height: 132px;
}

.card-body-icon-15 {
	width: 178px;
	height: 144px;
}

.card-body-icon-16 {
	width: 170px;
	height: 142px;
}

@media (max-width: 1024px) and (min-width: 768px) {
	.card {
		height: 510px;
		width: 100%;
	}

	.card-body-icon-1 {
		width: 61px;
		height: 110px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-2 {
		width: 143px;
		height: 63px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-3 {
		width: 61px;
		height: 110px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-4 {
		width: 83px;
		height: 111px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-5 {
		width: 101px;
		height: 79px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-6 {
		width: 105px;
		height: 97px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-7 {
		width: 101px;
		height: 86px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-8 {
		width: 97px;
		height: 102px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-9 {
		width: 90px;
		height: 95px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-10 {
		width: 103px;
		height: 102px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-11 {
		width: 118px;
		height: 90px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-12 {
		width: 109px;
		height: 74px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-13 {
		width: 115px;
		height: 110px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-14 {
		width: 103px;
		height: 94px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-15 {
		width: 108px;
		height: 87px;
		margin-top: auto;
		margin-bottom: 15px;
	}

	.card-body-icon-16 {
		width: 96px;
		height: 80px;
		margin-top: auto;
		margin-bottom: 15px;
	}
}



.card-container {
	max-width: 1920px;
}

.card-header {
	color: var(--white, #FFF);
	text-align: right;
	/* text-5xl/font-bold */
	font-size: 48px;
	font-family: Jost;
	font-weight: 700;
	line-height: 130%;
}



.card-body-content {
	height: 210px;
	color: var(--white, #FFF);
	/* text-5xl/font-bold */
	font-size: 48px;
	font-family: Jost;
	font-weight: 700;
	line-height: 130%;

}

.card-body-footer * {
	color: var(--white, #FFF);
	/* text-2xl/font-normal */
	font-size: 24px;
	font-family: Jost;
	line-height: 150%;
}