// html tags
body,
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--tw-text-opacity: 1;
	overflow-x: hidden;
	line-height: 1.5;
}
h1 {
	@apply heading-100 mb-5;
	line-height: 1.25;
}
h2 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
h3 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
h4,
h5,
h6 {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
p {
	@apply heading-200 mb-5;
	line-height: 1.25;
}
iframe {
	width: 100%;
}
ul,
ol {
	@apply mb-5 ml-4;
}
ul {
	@apply list-disc;
}
ol {
	@apply list-decimal;
}
li {
	@apply mb-2;
}
a.button,
button[type="submit"],
input[type="submit"] {
	@apply w-auto;
}
a.button.secondary,
button[type="submit"].secondary,
input[type="submit"].secondary {
	@apply w-auto;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
.select2-container--default .select2-selection--single {
	box-shadow: none !important;
	@apply py-2 px-4 w-full appearance-none border text-black text-xs;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translateY(-50%);
}
textarea {
	box-shadow: none !important;
}

// wordpress classes
.container {
	max-width: 1480px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.25rem; //20px
	padding-right: 1.25rem; //20px
}
.wp-block-image,
iframe {
	@apply mb-5;
}
.no_s {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.sr-only {
	display: none;
}
.woocommerce-notices-wrapper ul {
	@apply ml-0 list-none;
}

.heading-100 {
	@apply text-xl lg:text-5xl;
}
.heading-200 {
	@apply text-lg md:text-3xl lg:text-4xl;
}
.heading-300 {
	@apply text-base;
}
/* 
.heading-400{}
.heading-500{} 
*/

.subheading-100 {
	@apply text-3xl;
}
.subheading-200 {
	@apply text-xl md:text-2xl;
}
/* 
.subheading-300{}
.subheading-400{}
.subheading-500{} 
*/

.paragraph-100 {
	@apply text-sm lg:text-xl;
}
.paragraph-200 {
	@apply text-lg;
}
.paragraph-300 {
	@apply text-xs md:text-base;
}
.paragraph-400 {
	@apply text-sm;
}
.paragraph-500 {
	@apply text-xs;
}

/* Buttons */

.outlined-btn {
	@apply border-white border-2 py-4 px-5 paragraph-300 text-white  hover:bg-black hover:bg-opacity-10 hover:border-blue transition-all ease-in-out duration-300;
}
.full-btn {
	@apply bg-darkgray border-darkgray border-2 paragraph-300 text-darkgray px-4 py-6 w-full hover:bg-blue hover:border-blue transition-all ease-in-out duration-300;
}
.solid-btn {
	@apply bg-purple border-2 border-purple paragraph-300 text-white py-4 px-5 hover:bg-blue hover:text-black hover:border-blue transition-all ease-in-out duration-300;
}
